<!DOCTYPE html>

<head>
    <title>Speech to Text and Text to Speech Converter</title>
</head>

<body>
    <div id="headder" cols="2">
        <h1>Speech To Text & Text To Speech Converter</h1>
    </div>
    <div>
        <p>This application converts text to speech and speech to text using Google Speech Recogniser API.</p>
    </div>
    <div>
        <p>Put on your head phones....</p>
    </div>
    <div>
        <form action="" method="POST" name="inputForm">
            <label for="typeSomething">Type Something:</label>
            <input type="text" name="fsen">
            <input type="button" value="Submit" onclick="formSubmit()">
            <!-- <input type="submit" value="Submit"> -->

        </form>
    </div>
    <!-- <div id="speechConverter">
        <audio controls>
            <source src="audio.mp3" type="audio/mp3">
        </audio>

    </div> -->

    <script>
        function formSubmit() {
            document.inputForm.submit();
            console.log('exe');
        }
    </script>

</body>